
.navPillWrapper {
    width: 218px;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    position: relative;
}

.navIndicatorGlow {
    width: 24px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: -2px;
    margin-left: 33px;
    box-shadow: 0 2px 25px 2px #fff;
}

.navPill{
    width: 180px;
    height: 48px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(242, 242, 242, 0.05);
    border: 1px solid rgba(242, 242, 242, 0.1);
    border-radius: 24px;
    justify-content: space-between;
    align-items: center;
    padding-left: 6px;
    padding-right: 6px;
    transition: box-shadow 1s cubic-bezier(0.23, 1, 0.32, 1), border 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    display: flex;
    position: relative;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
